@font-face {
    font-family: octicons-link;
    src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}


#side-menu {
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 20%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#side-menu .menu-content {
    padding-left: 6%;
}

@media only screen and (max-width: 768px) {
    #side-menu {
        margin: 0 !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.container .pl-c {
    color: #6a737d;
}

.container .pl-c1,
.container .pl-s .pl-v {
    color: #005cc5;
}

.container .pl-e,
.container .pl-en {
    color: #6f42c1;
}

.container .pl-smi,
.container .pl-s .pl-s1 {
    color: #24292e;
}

.container .pl-ent {
    color: #22863a;
}

.container .pl-k {
    color: #d73a49;
}

.container .pl-s,
.container .pl-pds,
.container .pl-s .pl-pse .pl-s1,
.container .pl-sr,
.container .pl-sr .pl-cce,
.container .pl-sr .pl-sre,
.container .pl-sr .pl-sra {
    color: #032f62;
}

.container .pl-v,
.container .pl-smw {
    color: #e36209;
}

.container .pl-bu {
    color: #b31d28;
}

.container .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.container .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.container .pl-c2::before {
    content: "^M";
}

.container .pl-sr .pl-cce {
    font-weight: bold;
    color: #22863a;
}

.container .pl-ml {
    color: #735c0f;
}

.container .pl-mh,
.container .pl-mh .pl-en,
.container .pl-ms {
    font-weight: bold;
    color: #005cc5;
}

.container .pl-mi {
    font-style: italic;
    color: #24292e;
}

.container .pl-mb {
    font-weight: bold;
    color: #24292e;
}

.container .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.container .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.container .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.container .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.container .pl-mdr {
    font-weight: bold;
    color: #6f42c1;
}

.container .pl-ba {
    color: #586069;
}

.container .pl-sg {
    color: #959da5;
}

.container .pl-corl {
    text-decoration: underline;
    color: #032f62;
}

.container .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.container a {
    background-color: transparent;
}

.container a:active,
.container a:hover {
    outline-width: 0;
}

.container strong {
    font-weight: inherit;
}

.container strong {
    font-weight: bolder;
}

.container h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.container img {
    border-style: none;
}

.container code,
.container kbd,
.container pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.container hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.container input {
    font: inherit;
    margin: 0;
}

.container input {
    overflow: visible;
}

.container [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.container * {
    box-sizing: border-box;
    font-weight: 400;
}

.container input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.container a {
    color: #0366d6;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container strong {
    font-weight: 600;
}

.container hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.container hr::before {
    display: table;
    content: "";
}

.container hr::after {
    display: table;
    clear: both;
    content: "";
}

.container table {
    border-spacing: 0;
    border-collapse: collapse;
}

.container td,
.container th {
    padding: 0;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container h1 {
    font-size: 32px;
    font-weight: 600;
}

.container h2 {
    font-size: 24px;
    font-weight: 600;
}

.container h3 {
    font-size: 20px;
    font-weight: 600;
}

.container h4 {
    font-size: 16px;
    font-weight: 600;
}

.container h5 {
    font-size: 14px;
    font-weight: 600;
}

.container h6 {
    font-size: 12px;
    font-weight: 600;
}

.container p {
    margin-top: 0;
    margin-bottom: 10px;
}

.container blockquote {
    margin: 0;
}

.container ul,
.container ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container ol ol,
.container ul ol {
    list-style-type: lower-roman;
}

.container ul ul ol,
.container ul ol ol,
.container ol ul ol,
.container ol ol ol {
    list-style-type: lower-alpha;
}

.container dd {
    margin-left: 0;
}

.container code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.container pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.container .octicon {
    vertical-align: text-bottom;
}

.container .pl-0 {
    padding-left: 0 !important;
}

.container .pl-1 {
    padding-left: 4px !important;
}

.container .pl-2 {
    padding-left: 8px !important;
}

.container .pl-3 {
    padding-left: 16px !important;
}

.container .pl-4 {
    padding-left: 24px !important;
}

.container .pl-5 {
    padding-left: 32px !important;
}

.container .pl-6 {
    padding-left: 40px !important;
}

.container::before {
    display: table;
    content: "";
}

.container::after {
    display: table;
    clear: both;
    content: "";
}

.container>*:first-child {
    margin-top: 0 !important;
}

.container>*:last-child {
    margin-bottom: 0 !important;
}

.container a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.container .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.container .anchor:focus {
    outline: none;
}

.container p,
.container blockquote,
.container ul,
.container ol,
.container dl,
.container table,
.container pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.container hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.container blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.container blockquote>:first-child {
    margin-top: 0;
}

.container blockquote>:last-child {
    margin-bottom: 0;
}

.container kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.container h1 .octicon-link,
.container h2 .octicon-link,
.container h3 .octicon-link,
.container h4 .octicon-link,
.container h5 .octicon-link,
.container h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.container h1:hover .anchor,
.container h2:hover .anchor,
.container h3:hover .anchor,
.container h4:hover .anchor,
.container h5:hover .anchor,
.container h6:hover .anchor {
    text-decoration: none;
}

.container h1:hover .anchor .octicon-link,
.container h2:hover .anchor .octicon-link,
.container h3:hover .anchor .octicon-link,
.container h4:hover .anchor .octicon-link,
.container h5:hover .anchor .octicon-link,
.container h6:hover .anchor .octicon-link {
    visibility: visible;
}

.container h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

.container h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

.container h3 {
    font-size: 1.25em;
}

.container h4 {
    font-size: 1em;
}

.container h5 {
    font-size: 0.875em;
}

.container h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.container ul,
.container ol {
    padding-left: 2em;
}

.container ul ul,
.container ul ol,
.container ol ol,
.container ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container li {
    word-wrap: break-all;
}

.container li>p {
    margin-top: 16px;
}

.container li+li {
    margin-top: 0.25em;
}

.container dl {
    padding: 0;
}

.container dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.container dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.container table {
    display: block;
    width: 100%;
    overflow: auto;
}

.container table th {
    font-weight: 600;
}

.container table th,
.container table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.container table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.container table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.container img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.container img[align=right] {
    padding-left: 20px;
}

.container img[align=left] {
    padding-right: 20px;
}

.container code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.container pre {
    word-wrap: normal;
}

.container pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.container .highlight {
    margin-bottom: 16px;
}

.container .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.container .highlight pre,
.container pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.container pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.container .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.container kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
}

.container :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.container .task-list-item {
    list-style-type: none;
}

.container .task-list-item+.task-list-item {
    margin-top: 3px;
}

.container .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.container hr {
    border-bottom-color: #eee;
}